<% layout('./layout/page') -%>
<% block('title') -%>

<link rel="stylesheet" href="/styles/users.css"/>

<% if (conversations.length > 0) { %>
  <div class="table-wrapper conversations-wrapper">
    <h2>Conversations</h2>

    <table id="conversations-table">
      <tbody>
        <% for(var i = 0; i < conversations.length; i ++) { %>
          <tr name=<%= conversations[i].chatterer %> >
            <td>
              <div class="chatterer"><%= conversations[i].chatterer %></div>
              <div class="last-message"><%= conversations[i].lastMessage %></div>
            </td>
          </tr>
        <% } %>
      </tbody> 
    </table>
  </div>
<% } %>

<% if (users.length !== 1) { %>
  <div class="table-wrapper users-wrapper">
    <h2>New users</h2>

    <table id="users-table">
      <tbody>
        <% for(var i = 0; i < users.length; i ++) {
          if (users[i] != user.username) {%>
            <tr name=<%= users[i] %> >
              <td><%= users[i] %></td>
              <td><button>chat</button></td>
            <tr>
        <% }
        } %>
      </tbody> 
    </table>
  </div>
<% } %>

</form>

<script>
  $('table').on('click', 'tr', function(e) {
    var userName = e.currentTarget.attributes[0].nodeValue;

    makeAjaxRequest(JSON.stringify({user: userName}), '/users', "POST")
  })

  function makeAjaxRequest(data, url, reqType) {
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200 && xhr.responseText) {
        var res = JSON.parse(xhr.responseText);
        
        window.location = res.url;
      }
    };

    xhr.open(reqType, url, true);
    xhr.setRequestHeader('Content-Type', 'application/json') // neccessary to set json header
    xhr.send(data);
  }
</script>